<!-- STYLES -->

<!-- General Style -->
<%- include('../layouts/styles') -%>

    <!-- Custom style for only this page starts -->

    <!-- Custom style for only this page ends -->
    </head>

    <body class="h-100">
        <div class="authincation h-200" style="margin: 50px 0px;">
            <div class="container-fluid h-200">
                <div class="row justify-content-center h-200 align-items-center">
                    <div class="col-md-6">
                        <div class="authincation-content">
                            <div class="row no-gutters">
                                <div class="col-xl-12">
                                    <div class="auth-form" style="color: #404040;">
                                        <h4 class="text-center mb-4">Sign Up</h4>
                                        <div class="form-group">
                                            <label><strong>First Name</strong></label>
                                            <input type="text" class="form-control" placeholder="First Name">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Middle Name</strong></label>
                                            <input type="text" class="form-control" placeholder="Middle Name">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Last Name</strong></label>
                                            <input type="text" class="form-control" placeholder="Last Name">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Contact Number</strong></label>
                                            <input type="text" class="form-control" placeholder="Contact Number">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Email</strong></label>
                                            <input type="email" class="form-control" value="" placeholder="Enter mail">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Password</strong></label>
                                            <input type="password" class="form-control" value="" placeholder="Enter password">
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">

                                        </div>
                                        <div class="text-center">
                                            <a href="/">
                                                <button type="submit" class="btn btn-primary btn-block">Create Account</button>
                                            </a>
                                        </div>
                                        <article>
                                            <p style="text-align: center;">Already have an account, click <a href="/login">LOGIN</a></p>
                                        </article>
                                        <!-- <a href="#">Register</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer start -->
        <%- include('../layouts/footer') -%>


            <!-- SCRIPTS -->

            <!-- General Script -->
            <%- include('../layouts/scripts') -%>

                <!-- Custom script for only this page starts -->

                <!-- Custom script for only this page ends -->
    </body>

    </html>