<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <!-- <li><a href="index.html"><i class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
    </li> -->

            <li>
                <a href="/" aria-expanded="false">
                    <i class="icon icon-globe-2"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Subjects</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/subjects">All Subjects</a></li>
                    <li><a href="/subjects/create">Add Subject</a></li>
                    <li><a href="/subjects/assign">Assign Subject To Class</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Classes</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/classes">All Classes</a></li>
                    <li><a href="/classes/create">Add Class</a></li>
                    <li><a href="/classes/sponsor">Assign Sponsor To Class</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Teachers</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/teachers">All Teachers</a></li>
                    <li><a href="#">Add Teacher</a></li>
                    <li><a href="#">Edit Teacher</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-single-04"></i>
                    <span class="nav-text">Students</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">All Students</a></li>
                    <li><a href="#">Add Student</a></li>
                    <li><a href="#">Edit Student</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-single-04"></i>
                    <span class="nav-text">Parents</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">All Parents</a></li>
                    <li><a href="#">Add Parent</a></li>
                    <li><a href="#">Edit Parent</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-single-04"></i>
                    <span class="nav-text">Reports</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">All Teachers</a></li>
                    <li><a href="#">Add Teacher</a></li>
                    <li><a href="#">Edit Teacher</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>